.App-header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.search-container {
  flex: 6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-label {
  font-size: 20px;
}

.searchBar {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 8px;
  color: rgb(0, 0, 0);
}

.randomPokemonButton {
  width: 150px;
  height: 50px;
  flex: 1;
}

.App-main-background {
  height: 1000px;
  background-color: rgb(46, 46, 46);
}